.movieOption {
    width: 180px;
    border-radius: $bigRadius;
    overflow: hidden;
    background-color: $bgSecondary;
    margin: 15px;
}

.movieDetails {
    text-align: center;
    h3, p{
        font-size: 1.3rem;
    }
}

.tally {
    width: 100%;
    padding: 0 5px;
    background-color: $fontColourP;
    color: $fontColourS;
    p{
        margin-left: 5px;
        font-size: 1.4rem;
    }
}

.nominateButton {
    font-size: 1.4rem;
}


.imgContainer {
    height: 265px;
}