.movieOption {
    width: 180px; 
    border-radius: $bigRadius;
    overflow: hidden;
    background-color: $bgSecondary;
    margin: 15px;
}

.movieDetails {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    padding: 20px 5px;
    text-align: center;
    h3, p{
        font-size: 1.3rem;
        color: white;
    }
}

.tally {
    width: 100%;
    padding: 0 5px;
    background-color: $fontColourP;
    color: $fontColourS;
    font-size: 1.5rem;
    p{
        margin-left: 5px;
        font-size: 1.5rem;
    }
}

.nominateButton {
    font-size: 1.4rem;
    margin: 10px 0;
}


.imgContainer {
    height: 265px;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
}