.navigation {
    justify-content: space-evenly;
    padding-bottom: 30px;
    p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.toggleSearch, .account, .searchContainer input, .searchButton , .movieSearch{
    height: 40px;
}

.toggleSearch, .searchButton {
    width: 40px;
}

.searchContainer{
    input {
        width: 200px;
        font-size: 2rem;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0 15px;
        border: none;
    }
}

.searchButton {
        background-color:$bgSecondary;
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
.menuOptions{
    width: 100%;
    justify-content: space-evenly;
}

.closeContainer {
    margin: 10px 0;
    p {
        margin-right: 20px;
    }
}