.topNominations {
    margin-bottom: 20px;
    height: 25vw;
    min-height: 200px;
    
}
.carousel-root, .carousel-slider.carousel, .slider-wrapper, .slider.animated {
    height: 100%;
}

.topContainer {
    width: 100%;
    height: 100%;
    ul{
        height: 100%;
        width: 100%;
    }
    background-color: $bgSecondary;
}

.imgLI{
    width: 40%;
    height: 100%;
}

.topImgContainer{
    width: 50%;
    min-width: 115px;

    border-radius: $bigRadius;
    overflow: hidden;
    img{
        object-fit: contain;
    }
}

.topDetails {
    height: 100%;
    color: $fontColourS;
    width: 60%; 
}

.detailCard {
    background-color: $navBG;
    color: black;
    border-radius: $bigRadius;
    p {
        font-size: 3rem;
    }
    i {
        margin-right: 10px;
    }
    padding: 10px;
}